@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colores principales */
    --primary-color: #c33d56;
    --secondary-color: #b17b7b;
    --background-color: #ffffff;
    --bg-footer-color: #333333;

    /*Colores del header*/
    --bg-header-color: #fee3ea;
    --text-header-color: #b17b7b;

    /* Colores para ofertas y estados */
    --sale-color: #ef4545;
    --error-color: #ef4545;

    /* Tipografía */
    --font-family: "inter", sans-serif;

    /* Espaciado */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* Bordes */
    --border-radius: 4px;

    /* Sombras para elementos */
    --shadow-small: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-large: 0 10px 15px rgba(0, 0, 0, 0.1);

    /* Opacidades para hover y estados deshabilitados */
    --opacity-disabled: 0.5;
    --opacity-hover: 0.8;

    /* Transiciones para suavizar animaciones */
    --transition-speed-fast: 150ms;
    --transition-speed-medium: 300ms;
    --transition-speed-slow: 500ms;

    /* Altura de línea para mejorar la legibilidad del texto */
    --line-height-normal: 1.5;
    --line-height-large: 1.75;

    /* Z-index para gestionar capas (modales, tooltips, etc.) */
    --z-index-dropdown: 1000;
    --z-index-modal: 1050;
    --z-index-tooltip: 1100;
  }

  @keyframes increaseSize {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.9);
    }
  }

  @keyframes heartBeat {
    0%,
    50%,
    100% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.15);
    }
    75% {
      transform: scale(1.3);
    }
  }

  .whatsapp {
    animation: heartBeat 6s infinite ease-in-out 2s;
  }
}

/* #ef4545   
#c33d56   para bordes
#b17b7b  
#fee3ea  
#d3d3d3
#fee3ea   
#333333   
#000000   
#ffffff    */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  /*background: #000;*/
  height: 5000px;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.whatsapp-button:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
